* {
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
}

footer {
  clear: both;
  border-top: 1px solid #606060;
  background: rgb(248, 236, 236);

  /* width: 100%;
  height: 20%;*/
}

ul {
  margin-top: 0rem;
  list-style: none;
  padding: 0%;
  display: flex;
  gap: 0.1rem;
  justify-content: center;
  align-items: center;
  font-size: 0;
}

a {
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.patrocinador {
  color: black;
  text-align: center;
}

#serratec {
  height: auto;
  width: 10%;
}
